<i18n-var|i18n|>
  <div class='w-full'>
    <div class='text-center'>
      <h3 class='text-2xl font-semibold text-white mb-6'>
        <i18n-message key='downloading_updates'/>
      </h3>
      <img src='img/logo.png' class='max-w-[240px] w-3/5 mx-auto mb-8' alt='Logo'>
      <div
        id='update_progress_bar'
        data-percent='0'
        class='bg-slate-900/80 rounded-full overflow-hidden relative border border-white/8 h-3.5 mb-4'>
        <div
          style='transition-duration: 300ms; -webkit-transition-duration: 300ms;'
          class='bar bg-gradient-to-br from-sky-400 to-green-500 h-full rounded-full relative'>
          <div class='progress absolute inset-0 flex items-center justify-center text-xs text-white'>
            0%
          </div>
        </div>
      </div>
      <p id='update_current_file' class='text-slate-400 text-sm'/>
    </div>
  </div>
</i18n-var>